<section id="commmunities">
<div class="container">
  <p>Here there are some communities I belong to (<i>among some others not listed</i>):</p>
  <h3>Online Communities</h3>
  <ul>
    <li class="community"><a href="https://librelabucm.org/">LibreLabUCM</a></li>
    <li class="community"><a href="https://www.trustroots.org/">Trustroots</a></li>
  </ul>
  <h3>Offline Communities</h3>
  <ul>
    <li class="community">Two communal gardens in the surroundings of my neighbourhood</li>
  </ul>
</div>
</section>
