<section id="projects">
<div class="container">
  <h2>Projects</h2>
  <p>These are <i>some</i> of my personal projects:</p>
  <hr/>
  <h3 class="project">BiciPark</h3>
    <p>
    <strong>Bicipark</strong> is an Android app to find a bike parking and assist you in getting there. <br/>
    <ul>
      <li><a href="https://github.com/Akronix/bicipark">Source code and bug tracker.</li>
      <li><a href="https://play.google.com/store/apps/details?id=akronix.es.biciparkmadrid">Link to Google Play store listing.</a></li>
      <li><a href="https://mega.nz/#!cw4DmajK!oefVzsFlr9GmiCCrnazU3BamnykuZSvLyEJoOObB5c0">Download the apk file directly from my Mega cloud drive.</a></li>
    </ul>
    </p>

</div>
</section>
