<section id="projects">
<div class="container">
  <h2>Projects</h2>
  <p>These are <i>some</i> of my personal projects:</p>
  <hr/>
  <h3 class="project" id="BiciPark">Air-quality prediction for Madrid</h3>
  <p>
    Mi Master's final project will be a system to predict the air quality for Madrid city in real-time using machine learning techniques.<br/>

    More info will be uploaded soon.
  </p>
  <hr/>
  <h3 class="project" id="WikiChron">WikiChron</h3>
  <p>
    <strong>WikiChron</strong> is a web tool for the analysis and visualization of the evolution of <em>wiki online communities</em>. <br/>
    It uses processed data of the history dumps of mediawiki wikis, computes different metrics on this data and plot it in interactive graphs. It allows to compare different wikis in the same graphs.<br/>
    I develop WikiChron as part of my current research around collaboration in Online Communities (wikis).
    <ul>
      <li>WikiChron is available online here: <a href="http://wikichron.science/">http://wikichron.science.</a></li>
      <li>You can read more about WikiChron in these links: <a href="http://wikipapers.referata.com/wiki/Wikichron">[1]</a>, <a href="https://grasia.fdi.ucm.es/newmain/wikichron-intro/">[2]</a>.</li>
      <li><a href="https://youtu.be/NX1ZVh1k2nw">You can watch this video where I present WikiChron at the Wikimedia Hackathon 2018.</a></li>
      <li><a href="https://github.com/grasia/WikiChron/">Source code and bug tracker.</a></li>
    </ul>
  </p>

  <hr/>
  <h2>Discontinued</h2>
  <h3 class="project" id="BiciPark"><s>BiciPark</s></h3>
  <p>
    <strong>Bicipark</strong> was an Android app to find a bike parking and assist you in getting there. <br/>
  </p>

</div>
</section>
