<section id="stories">
<div class="container">
  <p>
   I like to write, so I recently started to write short stories.<br/>
   Here they are (so far, <b>all in Spanish</b>):
  </p>
   
   <h3>
   El Viaje de Grus
   </h3>
   <p>
   La historia de un ave migratoria y su encuentro con los humanos en un futuro utópico post-capitalista.
   </p>
   Puedes leer <a href="/primer-relato-publicado.html">el post asociado en el blog de esta página</a> o descargar <a href="/static/pdf/El_viaje_de_Grus.pdf">el pdf aquí</a>.
   
   <h3>
   El Tejo Ermitaño
   </h3>
   <p>
   Una historia sobre la recuperación de un pueblo abandonado, por un descendiente de sus antiguos habitantes.<br/>
   El relato tuvo un premio "Mención Especial", en un concurso de relatos cortos del Álto Gállego.
   </p>
   Puedes descargar <a href="/static/pdf/tejo_ermitanyo.pdf">el pdf del relato aquí</a>.
   
<!--
   <h3>
   ¿Compañer@ para esta noche?
   </h3>
   <p>
   Como la soledad en la sociedad moderna puede ser sustituida por la tecnología.
   Una historia que te dejará con un sabor agridulce.
   </p>
   Puedes descargar <a href="/static/pdf/compa_para_esta_noche.pdf">el pdf del relato aquí</a>.
-->

</div>
</section>
