<section id="tools">
<div class="container">
  <p>These are the tools I carry with in my toolbox.<br/>
  Click the links to see some examples.</p>
    <h3>Data science</h3>

      <p class="tool"><a href="https://github.com/Akronix?utf8=%E2%9C%93&tab=repositories&q=&type=&language=python">Python</a> + pandas + plotly</p>
      <p class="tool">R</p>
      <p class="tool"><a href="https://github.com/Akronix?utf8=%E2%9C%93&tab=repositories&q=&type=&language=perl">Perl</a></p>

    <h3>Web development</h3>

      <p class="tool"><a href="https://github.com/Akronix?utf8=%E2%9C%93&tab=repositories&q=&type=&language=javascript">Plain JavaScript</a></p>
      <p class="tool">ReactJS</p>
      <p class="tool">Node.js</p>
      <p class="tool">Flask: a microframework for web servers in Python</p>


    <h3>Other knowledge</h3>
      <p class="tool">MongoDB</p>
      <p class="tool"><a href="https://github.com/Akronix/bicipark">Android App development</a></p>

    <h3>Utils</h3>

      <p> My main source code editor: <strong><a href="https://www.geany.org/">Geany</a></strong></p>
      <p> My shell: <strong>zsh</strong></p>
      <p> My Operating System: <strong>Ubuntu 16.04</strong>. I love Unity <span class="emoji">😃</span></p>

</div>
</section>
